# =========================
# Java / Gradle
# =========================
.gradle/
build/
bin/
out/
target/

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment
# =========================
.env

# =========================
# Spring Boot
# =========================
application-local.properties

# =========================
# Node
# =========================
node_modules/