<aside class="sidebar">
  <a class="brand-logo" routerLink="/dashboard" aria-label="回到首頁">
    <div class="brand-mark">
      <span>稅</span>
    </div>

    <div class="brand-text">
      <strong class="brand-title">台日進口萬萬稅</strong>
      <small class="brand-subtitle">IMPORT COST SYSTEM</small>
      <small class="brand-slogan">貨出得去，錢進得來，台灣發大財</small>
    </div>
  </a>

  <div class="brand-divider"></div>

  <nav class="sidebar-nav">
  <a routerLink="/dashboard" routerLinkActive="active">總覽</a>
  <a routerLink="/product-manage" routerLinkActive="active">庫存管理</a>
  <a routerLink="/hs-code" routerLinkActive="active">HS Code 查詢</a>
  <a routerLink="/purchase" routerLinkActive="active">商品進貨</a>
  <a routerLink="/purchase-history" routerLinkActive="active">進貨紀錄</a>
  <a routerLink="/report" routerLinkActive="active">低庫存表</a>
  <a routerLink="/pos-checkout" routerLinkActive="active">POS試算</a>
</nav>
</aside>
