.layout {
  display: flex;
  min-height: 100vh;
  background: var(--color-bg);
  color: var(--color-text);
}

.main {
  flex: 1;
  min-width: 0;
  width: calc(100vw - 260px);
  padding: 48px;
  overflow-x: auto;
}
